@import url(fonts.scss);
@import url(fontsawesome.scss);
@import url(normalize.scss);
a {
  text-decoration: none;
}

body {
  font-family: "Gilroy", sans-serif;
}

.header {
  margin-left: -5px;
}

.header .header_header1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 1360px;
  height: 40px;
  font-size: 12px;
  margin-top: -7px;
  background-color: #F8F8F9;
  padding-left: 12px;
}

.header .header_header1 p {
  color: #6c7177;
  font-family: "Gilroy",sans-serif;
}

.header .header_header1 p:hover {
  color: black;
}

.header .header_header1 .header_tel {
  margin-left: 40px;
  margin-top: 15px;
  margin-right: 17px;
  font-size: 12px;
}

.header .header_header1 .header_tel i {
  font-size: 12px;
  margin-right: 1px;
}

.header .header_header1 .header_tel a {
  color: #6c7177;
  font-size: 12px;
}

.header .header_header1 .header_locate {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 15px;
  margin-left: 10px;
  margin-right: 275px;
}

.header .header_header1 .header_locate p {
  margin-top: 0px;
  margin-left: 10px;
  font-size: 12px;
  font-family: "Gilroy,sans-serif";
}

.header .header_header1 .header_locate i {
  font-size: 14px;
  height: 5px;
}

.header .header_header1 .header_menu {
  margin-top: -10px;
}

.header .header_header1 .header_menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  margin-right: 50px;
  margin-left: 20px;
}

.header .header_header1 .header_menu ul li {
  list-style: none;
}

.header .header_header1 .header_lang {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 3px;
}

.header .header_header1 .header_lang svg {
  margin-top: 12px;
  margin-left: 3px;
  width: 10px;
}

.header .header2 {
  margin-top: 20px;
  width: 1360px;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
}

.header .header2 .header_logo {
  margin-right: 20px;
  margin-left: 53px;
  padding-top: 15px;
}

.header .header2 .header_logo img {
  width: 155px;
  height: 20px;
}

.header .header2 .header_katalog {
  margin-right: 27px;
  margin-left: 30px;
}

.header .header2 .header_katalog button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 114px;
  height: 50px;
  border-radius: 13px;
  border: none;
  background-color: #D92E15;
  color: #F8F8F9;
}

.header .header2 .header_katalog button p {
  margin-top: 18px;
  font-family: "Gilroy";
}

.header .header2 .header_katalog button svg {
  width: 28px;
  height: 28px;
  margin-top: 9px;
  margin-left: 11px;
  margin-right: 9px;
  color: white;
}

.header .header2 .header_form form {
  border: 1px solid  #999090;
  border-radius: 10px;
  padding-bottom: 2px;
  padding-left: 3px;
}

.header .header2 .header_form form input {
  width: 400px;
  height: 40px;
  color: #6c7177;
  border: none;
  font-size: 14px;
}

.header .header2 .header_form form button {
  width: 74px;
  height: 43px;
  border-radius: 10px;
  border: none;
  margin-right: 3px;
  margin-top: 3px;
  background-color: #D92E15;
  font-size: 25px;
}

.header .header2 .header_form form button i {
  color: #F8F8F9;
}

.header .header2 .header2_menu ul {
  margin-left: -5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  font-size: 14px;
  color: #6c7177;
}

.header .header2 .header2_menu ul li {
  cursor: pointer;
  list-style: none;
}

.header .header2 .header2_menu ul li a {
  text-decoration: none;
}

.header .header2 .header2_menu ul li .p1 {
  margin-top: 12px;
  width: 100px;
}

.header .header2 .header2_menu ul li .fa-box {
  font-size: 25px;
  margin-top: -7px;
  margin-left: 30px;
  color: #6c7177;
}

.header .header2 .header2_menu ul li .fa-scale-unbalanced {
  margin-left: 17px;
  font-size: 20px;
  margin-top: -7px;
  color: #6c7177;
}

.header .header2 .header2_menu ul li .fa-regular {
  font-size: 20px;
  margin-left: 5px;
  margin-top: -7px;
  color: #6c7177;
}

.header .header2 .header2_menu ul li .fa-heart {
  font-size: 20px;
  margin-top: -7px;
  margin-left: 20px;
}

.header .header2 .header2_menu ul li .fa-user {
  font-size: 20px;
  margin-top: -7px;
  margin-left: 5px;
}

.header .header3 {
  margin-top: 85px;
  margin-left: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .header3 button {
  width: 92px;
  background-color: #fff;
  border: none;
  height: 25px;
  margin-top: -10px;
  background-image: url(../img/aksiya.svg);
}

.header .header3 button p {
  color: #fff;
  margin-top: 4px;
}

.header .header3 ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 15px;
  font-size: 14px;
  margin-top: 0px;
  z-index: 1;
  font-family: "Gilroy", sans-serif;
}

.header .header3 ul li {
  list-style: none;
  color: #6c7177;
}

.header .header3 ul li p {
  cursor: pointer;
}

pt
.header .header3 ul li p:hover {
  color: black;
}
/*# sourceMappingURL=style.css.map */